<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Near by"  on-select="changeorder('id')" ng-class="{strike: deleted}">
        <!-- Tab 1 content -->
    </ion-tab>

    <ion-tab title="Popular"  on-select="changeorder('views')" ng-class="" >
        <!-- Tab 2 content -->
    </ion-tab>
</ion-tabs>
<ion-view view-title="{{ 'home' | translate }}">
    <ion-content>
        <div class="padding-top">
            <div class="list card" ng-repeat="p in posts|orderBy:orderby" >
                <div >
                    <div class="item item-avatar ">
                        <img ng-src="{{p.userpic}}">
                        <h2 ng-bind="p.fullname"></h2>
                        <div id="textbox">
                            <p class="alignleft color_red" ng-bind="p.locationname"></p>
                            <p class="alignright" ng-bind="p.created"></p>
                        </div>
                    </div>
                </div>

                <div class="item item-body padding-none">
                    <img ng-if="p.thumbnail" class="full-image" ng-src="{{p.thumbnail}}">
                    <a style="    white-space: pre;overflow: hidden" ng-click="selectpost(p)" ng-bind="p.title" > </a>
                    <p style="    white-space: pre;overflow: hidden" ng-bind="p.description"> </p>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
