<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>
  </ion-content>
</ion-view>
Hack4People
Presentation registration form
* Required
Team Name *

Cayonx
Project Title *

Press
Problem Specification *

Smart technological solutions against currption
Your Solution *

Press is a mobile based social platform which helps to share information to public, about a corruption in a public  organization.Vigilance or any other responsible person or agency  can review the post and take action against the corruption. 
Technologies Used *

Android,Html5 and JS (ionic framework),
Team member 1
Name *

Rahul om
Phone *

8907181709
E-mail *

rahulom666@gmail.com
Company/College/Organisation *

Your answer
This is a required question
Job title *

Software developper
Team member 2
Name

Your answer
Phone

Your answer
E-mail

Your answer
Company/College/Organisation

Your answer
Job title

Your answer
Team member 3
Name

Your answer
Phone

Your answer
E-mail

Your answer
Company/College/Organisation

Your answer
Job title

Your answer
SUBMIT
